body {
  font-family: sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

input, button {
  font-size: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #e2e8f0;
}
